<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>KVC</string>
		<key>SegID</key>
		<string>KVC</string>
		<key>Sub</key>
		<array/>
	</dict>
	<dict>
		<key>Title</key>
		<string>git</string>
		<key>SegID</key>
		<string>git</string>
		<key>Sub</key>
		<array/>
	</dict>
	<dict>
		<key>Title</key>
		<string>多线程</string>
		<key>SegID</key>
		<string>MultiThread</string>
		<key>Sub</key>
		<array/>
	</dict>
	<dict>
		<key>Title</key>
		<string>RE(正则表达式)</string>
		<key>SegID</key>
		<string>Regex</string>
		<key>Sub</key>
		<array/>
	</dict>
	<dict>
		<key>Title</key>
		<string>Xib&amp;SB</string>
		<key>SegID</key>
		<string>Xib&amp;SB</string>
		<key>Sub</key>
		<array/>
	</dict>
	<dict>
		<key>Title</key>
		<string>Masonry</string>
		<key>SegID</key>
		<string>Masonry</string>
		<key>Sub</key>
		<array/>
	</dict>
	<dict>
		<key>Title</key>
		<string>各版本改动</string>
		<key>SegID</key>
		<string></string>
		<key>Sub</key>
		<array/>
	</dict>
	<dict>
		<key>Title</key>
		<string>警告收录及科学消除</string>
		<key>SegID</key>
		<string>KillWarn</string>
		<key>Sub</key>
		<array/>
	</dict>
</array>
</plist>
