<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>attitudes_count</key>
	<integer>1</integer>
	<key>comments_count</key>
	<integer>2</integer>
	<key>created_at</key>
	<string>Runtime</string>
	<key>idstr</key>
	<string>123456</string>
	<key>user</key>
	<dict>
		<key>mbrank</key>
		<integer>6</integer>
		<key>name</key>
		<string>何当共剪西窗烛</string>
		<key>profile_image_url</key>
		<string>http://upload.jianshu.io/users/upload_avatars/412654/ff173e207a19.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/240/h/240</string>
	</dict>
	<key>pic_urls</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Tom</string>
			<key>Book</key>
			<string>素颜</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Janes</string>
			<key>Book</key>
			<string>大笨钟</string>
		</dict>
	</array>
</dict>
</plist>
